.data-source-manage {
  padding-bottom: 40px;
}

.source-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px 20px 20px;
}

.add-source-manage .u-form-group .u-label {
  min-width: 100px;
  display: inline-block;
}

.source-header .u-input-group {
  width: 40%;
}

.add-source-manage .u-form-group .u-form-control, .add-source-manage .u-form-group .u-select {
  width: 30%;
}

.source-table {
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: flex-end;
}

.search-container .u-form-control {
  width: 60%;
  margin-right: 5px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
}

.footer-pagination {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.hover-detail {
  cursor: pointer;
}

.hover-detail:hover {
  text-decoration: underline;
}

.marginLeft10 {
  margin-left: 10px;
}

.alert{
  display: inline-block;
  margin-left: 40px;
}



.add-source-manage.hdfs .u-form-group .u-label {
  min-width: 120px;
}