<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="//design.yonyoucloud.com/static/yonyouyun/tinper-bee.min.css" rel="stylesheet" media="screen">
  <link href="//design.yonyoucloud.com/static/yonyouyun/iconfont.css" rel="stylesheet" media="screen">

</head>
<body>
  <div id="content" class=" monitor-container"></div>



  <% include /templates/externals %>

 </body>
</html>
