<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用友云-开发者中心</title>
    <link href="//design.yonyoucloud.com/static/yonyouyun/tinper-bee.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="content" class="u-container-fluid"></div>
<% include /templates/externals %>
<script type="text/javascript">
    //init(document.getElementById("content"));
    window.parent.location.href='/portal/';
</script>
</body>
</html>
